.btm-nav-label {
    font-size: 30px;
    width: 40px;
    /* Set a fixed width */
    height: 40px;
    /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, filter 0.2s;
    border: none;
    background: none;
    cursor: pointer;
}

.btm-nav-label:hover {
    transform: scale(1.4);
    filter: brightness(1.2);
}